@font-face {
  font-family: 'YasashisaGothic';
  src: url('../font/YasashisaGothic.ttf') format('truetype');
}

html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 40px 0 0 0;
}

input[type=button]{
  font-family: FontAwesome;
  margin: 0
}
input[type=text], select{
  font-family: 'YasashisaGothic';
}
input.login_twitter, input.share_twitter {
  background-color: #00aced;
  color: #fff;
  border-color: #00aced;
}
input.login_twitter:hover, input.share_twitter:hover {
  background-color: #00a1dd;
  color: #f9f9f9;
  border-color: #00a1dd;
}
input.logout_twitter {
  background-color: #db4a39;
  color: #fff;
  border-color: #db4a39;
}
input.logout_twitter:hover {
  background-color: #cd3d2c;
  color: #f9f9f9;
  border-color: #cd3d2c;
}

label {
  height: 20px;
}

#preview-img {
  width: 95%;
  max-width: 150px;
  max-height: 150px;
  margin: 0 0 0 0;
  border: 5px #dddddd solid;
}

form {
  margin: 0 0 18px 0;
}


div.preview {
  position: relative;
  display: block;
}

#preview-msg {
  font-family: 'YasashisaGothic';
  white-space: nowrap;

  position: relative;
  width: 100%;
  max-width: 150px;
  margin: 0 5px 0px 5px;
  text-align: center;
}


div.twitter input {
  padding: 0 16px 0 16px;
  margin: 0 8px 32px 0;
}


    