@font-face {
  font-family: 'やさしさゴシック';
  src: url('https://cdn.leafscape.be/Yasashisa/YasashisaGothic_web.woff2')
       format("woff2");
}

html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 40px 0 0 0;
}

input[type=button]{
  font-family: FontAwesome;
  margin: 0
}
input[type=text], select{
  font-family: 'やさしさゴシック';
}
input.logout_twitter {
  background-color: #db4a39;
  color: #fff;
  border-color: #db4a39;
}
input.logout_twitter:hover {
  background-color: #cd3d2c;
  color: #f9f9f9;
  border-color: #cd3d2c;
}

label {
  height: 20px;
}

#preview-img {
  width: 95%;
  width: 150px;
  height: 150px;
  margin: 0 0 0 0;
  border: 5px #dddddd solid;
}

form {
  margin: 0 0 18px 0;
}


div.preview {
  position: relative;
  display: block;
}
